@model StudentDocVault.Models.Document

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Document</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Url" />
            <div class="form-group">
                <label asp-for="StudentId" class="control-label"></label>
                <input value="@ViewData["StudentId"]" asp-for="StudentId" class="form-control" readonly />
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocumentTitle" class="control-label"></label>
                <input asp-for="DocumentTitle" class="form-control" />
                <span asp-validation-for="DocumentTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocumentDescription" class="control-label"></label>
                <textarea asp-for="DocumentDescription" class="form-control"></textarea>
                <span asp-validation-for="DocumentDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Url" class="control-label"></label>
                <input type="file" name="file" asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
